[submodule "packages/libs/cares-library-common"]
	path = packages/libs/common
	url = git@github.com:Capstone-2023-2024/cares-library-common.git
[submodule "packages/web/cares-web-frontend"]
	path = packages/web/frontend
	url = git@github.com:Capstone-2023-2024/cares-web-frontend.git
[submodule "packages/cares-mobile"]
	path = packages/mobile
	url = git@github.com:Capstone-2023-2024/cares-mobile.git
